// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.album-show-container {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(#1F5F5B, black 50%);
    margin-left: 200px;
    height: 100vh;
}

.album-page {
    padding: 70px 0px 0px 30px;
    height: 100%;
}

.album-header {
    display: flex;
    height: 400px;
    align-items: center;
}

.album-controls {
    margin: 20px 0;

    > i {
        color: #1ed760;
    }
}

.header-image {
    height: 50%;
    width: auto;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}



.page-title {
    font-weight: 1000;
    font-size: 100px;
    cursor: pointer;
}