
.user-form  {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    margin: 0 auto;
}

.user-form * {
    margin: 10px 0;
    
}

.form-comp {
    display: flex;
    flex-direction: column;
}

.subtext {
    font-size: 14px;
}

#signup-btn {
    border-radius: 20px;
    border: none;
    background-color: #1ed760;
    padding: 10px 20px;
    font-weight: 600;
}

#login-redir {
    color: #1ed760;
    margin-left: 1rem;
    text-decoration: underline;
}