
.user-form  {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    margin: 0 auto;
}

.user-form * {
    margin: 10px 0;
    
}

.form-comp {
    display: flex;
    flex-direction: column;
}

.subtext {
    font-size: 14px;
}

#dob-elements, #gender-elements {
    display: flex;
    flex-direction: row;
}

#dob-comp {
    display: flex;
    flex-direction: column;
}

