
#root {
    height: 100%;
    width: 100%;
}

.display {
    display: flex;
    height: 100%;
    width: 100%;
}

.body-parts {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
}

.content {
    width: 100%;
    // right: 0;
}

.content-body {
    width: 80vh;
    float: right
    // left: 15%;
}