
.display {
    display: flex;
    width: 100%;
}

.body-parts {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
}

// .body-main {
//     height: 100vh;
//     margin-left: 200px;
//     // width: 100%;
// }