.edit-playlist-modal {
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.playlist-modal-body {
  display: flex;
  margin: 2rem 0;
  > i {
    color: #7f7f7f;
    background-color: #282828;
    padding: 10%;
    // height: 5vh;
  }
}

// edit-playlist-form:nth-child(2) {
//   justify-content: end;
// }


.edit-playlist {
  display: flex;
  flex-direction: column;

  input {
    background-color: #3e3e3e;
    color: white;
    border: none;
    width: 75%;
    margin: .5vh 0;
    padding: 1vh;
    border-radius: 3px;
    // align-self:baseline;

    // input[type=text]:focus {
    //   // border: 1px solid #7f7f7f;
    //   border: 1px solid red;
    // }
  }

  // input:focus {
  //   outline: #7f7f7f;
  // //   // border: 1px solid red;
  // //   // border: 1px solid #3e3e3e;
  // }
}

#edit-playlist-input:focus {
  border: .5px solid #7f7f7f;
}



#edit-playlist-submit {
  justify-self: end;
  border: none;
  padding: 1vh 2vh;
  font-weight: 750;
  border-radius: 30px;
  float: right;
}

.edit-playlist-container {
  margin-left: 1rem;

  label {
    font-size: .75rem;
  }
  * {
    width: 100%;
  }
}

