
.home {
    display: flex;
    flex-direction: row;
    color: white;
    background-image: linear-gradient(#230e6a, black 40%);
}


.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: repeat(3, 200px);
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    width: 100%;
    justify-content: center;
}

.grid-item {
    border: 1px solid red;
}

.grid-item-image {
    border: 1px solid blue;
    margin: 15px;
    height: 125px;
}

.home-row {
    padding: 30px;
}