
.home {
    display: flex;
    flex-direction: row;
}

.grid-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 200px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.grid-item {
    border: 1px solid red;
}

.grid-item-image {
    border: 1px solid blue;
    margin: 15px;
    height: 125px;
}