
.home {
    display: flex;
    flex-direction: row;
    color: white;
    background-image: linear-gradient(#230e6a, black 40%);
    height: 100vh;
    width: 100%;
}

.home-recent-grid {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(2, 80px);
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    width: 100%;
    justify-content: center;
    margin-left: 200px;
}

.home-recent-grid-item {
    background-color: #28282890;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
     i {
        background-color: #3e3e3e;
        color: white;
        border: none;
        margin-right: 1rem;
        padding: 1.5rem;
        border-radius: 6px;
    }
}

.home-recent-grid-item:hover {
    background-color: #545454;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(9, 190px);
    grid-template-rows: repeat(2, 250px);
    grid-row-gap: 45px;
    grid-column-gap: 45px;
    width: 100%;
    justify-content: center;
    margin-left: 200px;
}

.grid-item {
    background-color: #141414;
    border-radius: 6px;
}

.grid-item:hover {
    background-color: #545454;
}


.home-row {
    padding: 30px;
}

.home-contents {
    margin-top: 100px;
    left: 200px;
}

.album-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-item-title {
    font-weight: 600;
    margin: 1rem .5rem ;
}

.album-item-artist {
    margin: 1rem .5rem;
    color: #6f6f6f;
}

.album-index-item-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-item-image {
    margin: 15px;
    height: 125px;
}