.nav-bar {
    // margin-bottom: 20px;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: black;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    width: 25%;
    justify-content: center;
    width: auto;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-left: 10px;
}


.btn {
    height: 100%;
    margin: 0 10px;

    &:hover {
        color: #39ff14;
    }
}

.links {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}


