
.search-container {
  color: white;
  // height: 110vh;
  height: 100vh;

  width: 100%;
  max-width: 100%;
  // margin-left: 200px;
  background-image: linear-gradient(#1F5F5B, black 50%);
  display: flex;
  flex-direction: column; 
  overflow-y: auto;

}


.search-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 25vh;
  height: 1.5rem;
  padding: .5rem;
  border-radius: 30px;
  width: 20%;
  margin-top: 1rem;
  z-index: 8;
  border: none;
  i {
    color: grey;
    margin-right: 1rem;
  }
  input {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.search:focus-visible {
  outline: none;
}

.search-album-results {
  display: flex;
  justify-content: space-evenly;
}

.result-wrap {
  margin-top: 15vh;
  margin-left: 5%;
}

.result-shown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-album-item {
  background-color: #141414;
  margin: 1rem 2rem;
  width: 15vh;
  height: 24vh;
  border-radius: 6px;

}

.search-sections {
  font-weight: 800;
  font-size: 2rem;
}

.search-song-results {
  max-height: 40vh;
  margin-bottom: 5vh;  
}