
.search-container {
  color: white;
  height: 100vh;
  max-width: 100%;
  margin-left: 200px;
  background-image: linear-gradient(#1F5F5B, black 50%);
  display: flex;
  flex-direction: column; 
}


.search-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 450px;
  height: 1.5rem;
  padding: .5rem;
  border-radius: 30px;
  width: 20%;
  margin-top: 1rem;
  z-index: 8;
  border: none;
  i {
    color: grey;
    margin-right: 1rem;
  }
  input {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.search:focus-visible {
  outline: none;
}

.search-album-results {
  display: flex;
}

.result-wrap {
  margin-top: 5%;
  margin-left: 5%;
}

.search-album-item {
  background-color: #141414;
  margin: 1rem 2rem;
  width: 13rem;
  height: 17rem;
  border-radius: 6px;

}