
.sidebar-container {
    background-color: black;
    color: grey;
    width: 25vh;
    height: 100%;
    font-weight: 700;
    position: absolute;
}

.sidebar-logo-name {
    display: flex;
    width: auto;
    align-items: center;
    margin: 30px 0;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.sidebar-icons {
    margin-left: 25px;
}

.split-menu {
    margin-bottom: 15px;
    
    div {
        cursor: pointer;
    }
}

.sidebar-container i {
    margin-right: 10px;
}

.sidebar-menu > div {
    height: 50px;
    > * {
        align-items: center;
    }
}

#playlist-icon {
    color: black;
    background-color: grey;
    padding: 10px 2px;
}

.separator {
    margin: 0 25px;
    width: 75%;
    background-color: grey;
    height: 1px;
    border: none;
}

.small-playlist {
    margin: 25px 25px;
    :hover {
        color: white;
    }
}

.sidebar-menu div:hover {
    color: #fbfaf5;
}

