
.sidebar-container {
    background-color: black;
    color: grey;
    width: 200px;
    height: 100vh;
    font-weight: 700;
}

.sidebar-icons {
    margin-left: 25px;
}

.sidebar-container i {
    margin-right: 20px;
}

.sidebar-menu > div {
    height: 40px;
}