
.sidebar-container {
    background-color: black;
    color: grey;
    width: 200px;
    height: 100%;
    font-weight: 700;
    position: absolute;
}

.sidebar-logo-name {
    display: flex;
    // width: 25%;
    // justify-content: center;
    width: auto;
    align-items: center;
    margin: 30px 0;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.sidebar-icons {
    margin-left: 25px;
}

.split-menu {
    margin-bottom: 15px;
}

.sidebar-container i {
    margin-right: 10px;
}

.sidebar-menu > div {
    height: 50px;
    // border: 1px solid red;

    > * {
        align-items: center;
    }
}

#playlist-icon {
    color: black;
    background-color: grey;
    padding: 10px 2px;
}