.song-body-item {
  display: flex;
  height: 75px;
  align-items: center;
  width: 100%;
}

.song-body-item-left {
  display: flex;
  width: 75%;
}

.song-body-item-play {
  margin-right: 50px;
}

.song-body-item-play:hover {
  cursor: pointer;
}

.song-length {
  width: 5%;
}

.song-dropdown {
  position: relative;
}

.song-dropdown-main {
  background-color: transparent;
  padding: 1% 3%;
  border: none;
  align-self: center;
  > i {
    color: #bebebe;
  }
}

.song-dropdown-main > i:hover {
  cursor: pointer;
}

.song-dropdown-menu {
  position: absolute;
  width: 10rem;
  left: 0;
  top: calc(100% + .25rem);
  background-color: #242526;
  color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.song-dropdown > .song-dropdown-main:focus + .song-dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

.playlist-dropdown {
  position: relative;
}

.playlist-dropdown-main, .playlist-dropdown-remove {
  background-color: transparent;
  border: none;
  color: #bebebe;
  padding: 1rem;
}

.playlist-dropdown-main:hover, .playlist-dropdown-remove:hover {
  background-color: #545454;
  cursor: pointer;
}

.playlist-dropdown-menu {
  position: absolute;
  width: 13vh;
  margin: 1rem .25rem;
  right: calc(100% + .1rem);
  background-color: #242526;
  color: white;
  // padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.song-dropdown-menu > .playlist-dropdown-main:hover > .playlist-dropdown-menu {
  opacity: 1;
  transform: translateY(-3rem);
}

.playlist-dropdown-item {
  cursor: pointer;
  padding: .7vh;
}

.playlist-dropdown-item:hover {
  background-color: #545454;
}

.playlist-add {
  display: flex;
  justify-content: space-between;
}

.song-item-artist {
  color: #6f6f6f;
  margin-top: .5vh;
}