
.soundbar-container {
    color: white;
    bottom: 0;
    display: flex;
    height: 8vh;
    width: 100%;
    align-items: center;
    background-color: #161616;
    position: sticky;
}

.soundbar-container button {
    border: none;
    background: none;
}


.soundbar-song {
    display: flex;
    width: 20%
}



.soundbar-image {
    height: 60px;
    width: 60px;
}

.soundbar-song-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.soundbar-container .fa-heart {
    color: white;
}

.fa-circle-play, .fa-circle-pause {
    color: white;
    margin: 0 20px;

}
.fa-backward-step, .fa-forward-step {
    color: #a7a7a7;
}

.soundbar-song > * {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.soundbar-functions {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.soundbar-functions-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soundbar-functions-2 {
    display: flex;
    justify-content: center;
    input {
        width: 60%;
        margin: 0 1rem;
    }
    div {
        width: 5%;
    }
}


.soundbar-volume {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    input {
        margin-right: 2rem;
    }
}
