.splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.splash-body {
    display: flex;
    flex-direction: column;
    color: #1ed760;
    background-color: #2644bd;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.sub-content {
    text-align: center;
    > button {
        border-radius: 30px;
        border: none;
        background-color: #1ed760;
        padding: 10px 20px;
        font-weight: 800;
        height: 50px;
        width: 30%;
        color: #2644bd;
        margin-top: 30px;
    }
}

.splash-main {
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    // height: 100%;
    width: 800px;
    margin-bottom: 3rem;
}

.splash-sub {
    font-size: 18px;
    width: 800px;

}

.splash-footer {
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
}

.splash-footer-content {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    > * {
        margin: 0 50px;
    }
}

.footer-column label {
    color: grey;
}

.footer-column li {
    margin: 10px 0;
}

.footer-column a:hover {
    color: #39ff14;
}

.footer-logo {
    display: flex;
    align-items: center;
}

